
@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');
.topBarRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 25px;
    
}

.topBarTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.titleBarIcon{
    width: 36px;
    height: auto;
    font-size: 18;
    font-weight: bold;
}