@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');

.sDetailRectangle{
    width: 100%;
    height: 90px;
    margin-right: -24px;
    margin-left: -24px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 8px;
    padding-bottom: 18px;
}

.sDetailDetails{
    display: flex;
    flex-direction: column;
}

.sDetailName{
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
}

.sDetailImage{
    margin-right: 5%;
}

.sDetailUnder{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.sDetailIssued{
    background: #A5FFAE;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
    margin-right: 10px;
}

.sDetailUnreturned{
    background: #FFAAA5;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
}

.sDetailBGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sDetailButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 2px solid #D7CCCC;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #000000;
    padding: 6px 10px 6px 10px ;
    margin-bottom: 5px;


}

.sDetailButton:hover{
    cursor: pointer;
}


